body{
    background-color:#1c1c1c;
    color:#f0f8ff;
    font-family: monospace;
    padding: 25px;/*laterais*/
}    

.title {
    font-size: 36px;
      color: #00FF00
}



.list-item {
    margin-bottom: 20px; /*espasamento entre as linhas*/
    font-size: 20px;
}

input {
    height:32px;  
    background-color:transparent;
    color: white; 
    border-color:#00FF7f;
    border-radius: 4px;
    font-size: 16px;
    padding:8px; 
    font-family: monospece; 
      
}
.add-task-button{  
    font-size: 16px;
    padding: 16px;
    background-color: #008000; 
    border-width: 0px; 
    border-radius: 4px;
    color:white;
    font-weight: bold;
    font-family:monospace;
 
}