@charset "utf-8"
*{
    font-size: Arial, Helvetica, sans-serif;
}

body{
    background-image:linear-gradient(to right,#CCEA8D,#019587 );
}

main{
    background-color:white ;
    border-radius:5px;
    box-shadow:5px 5px 15px #95dad4;
    width:800px;
    padding:10px;
    margin:auto;
}

h1{
   color:#005148 ;
   text-align: center; 
   text-shadow:1px 1px 2px #021a15 ;
}

h2{
    color: #01415B;
}

p{
    text-align: justify;
}