@charset "UTF-8";

/*
em HTML é id em CSS é # 
em HTML é class em CSS é .
*/
body{
    background-color:rgb(205, 255, 203);
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    color:rgb(69, 104, 67);

}

h1#principal{
    color: blue;
    text-align:center;
}
 
h2{
    color:rgb(46, 236, 36);
}

.basico{
    color:red;
    font-weight: bold;
}

.intermediario{
    color:gold;
}

.avansado{
    color: fuchsia;
}

